html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  background-color: #004047;
}

.main{
  background-image: url(../img/top-circle.png);
  background-repeat: no-repeat;
  background-position: calc(50% - 615px)0px;
}

.title{
  margin-top: 140px;
}

.card-list{
  margin-top: 64px;
}

.card-item{
  width: 290px;
  height: 210px;
  background-color: #012F34;
}

.card-title{
  color: #79C8C7;
}

.card-button{
  width: 56px;
  height: 56px;
  background-image: url(../img/plus.png);
  border: none;
  background-color: transparent;
}

@media only screen and (max-width: 768px) {

  .card-item{
    width: 100%;
  }
}

@media only screen and (max-width: 1080px) {

  .main{
    background-position: calc(50% - 540px)0px;
  }

}

@media only screen and (max-width: 950px) {

  .main{
    background-position: calc(50% - 475px)0px;
  }

}

@media only screen and (max-width: 850px) {

  .main{
    background-position: calc(50% - 425px)0px;
  }

}

@media only screen and (max-width: 735px) {

  .main{
    background-position: calc(50% - 368px)0px;
  }
}

@media only screen and (max-width: 600px) {

  .main{
    background-position: calc(50% - 300px)0px;
  }

}

@media only screen and (max-width: 480px) {

  .main{
    background-position: calc(50% - 239px)0px;
  }

}

@media only screen and (max-width: 395px) {

  .main{
    background-position: calc(50% - 210px)0px;
  }
}


